DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
RESEND_API_KEY=re_KUfNeEu2_FLrkikYGoW5jHuwKp3JT5fhk
RESEND_FROM_EMAIL=reservas@arenahairstudio.com
ALLOW_MEMORY_RESERVAS_FALLBACK=true
ADMIN_OWNER_EMAIL=ferperezsanchez@gmail.com
ADMIN_MAGIC_SECRET=pon-aqui-un-secreto-largo-y-unico
APP_BASE_URL=http://localhost:4000
ADMIN_REDIRECT_URL=/admin
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxxx
RESERVA_DEPOSITO_CENTS=1000
